﻿@page
@model ScaffoldingPostgreSql.Pages.Customer.IndexModel
@{
}

<div>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Update</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var customer in Model.Customers)
            {
                <tr>
                    <td> @customer.CustomerId </td>
                    <td> @customer.CustomerName </td>
                    <td>
                        <div>
                            <a href="@Url.Page("/Customer/UpdateCustomer",  new {IDFind = customer.CustomerId})"> Edit </a>
                        </div>
                    </td>
                    <td>
                        <div>
                            <a href="@Url.Page("/Customer/DeleteCustomer",  new {IDFind = customer.CustomerId})"> Delete </a>
                        </div>
                    </td>
                </tr>

            }

        </tbody>
    </table>

</div>

